
<div style="display: flex; justify-content: center; margin-top: 20px;">
<form >

  <div>
    <input placeholder="Enter Name" name="name"/>
  </div>
  <div>
    <input placeholder="email" name="email"/>
  </div>
  <div>
    <div>
      <input placeholder="Enter cityName" name="cityName"/>
    </div>
    <div>
      <input placeholder="Enter stateName" name="stateName"/>
    </div>
    <div>
      <input placeholder="Enter streetName" name="streetName"/>
    </div>
    <div>
      <input placeholder="Enter landMark" name="landMark"/>
    </div>
  </div>
</form>
</div>