
<div style="display: flex; justify-content: center; margin-top: 20px;">
<form >

  <div class="m-t-10" >
    <input placeholder="Enter Name" name="name"/>
  </div>
  <div class="m-t-10">
    <input placeholder="email" name="email"/>
  </div>
  <div>
    <p>Address Details</p>
    <div class="m-t-10">
      <input placeholder="Enter cityName" name="cityName"/>
    </div>
    <div class="m-t-10">
      <input placeholder="Enter stateName" name="stateName"/>
    </div>
    <div class="m-t-10">
      <input placeholder="Enter streetName" name="streetName"/>
    </div>
    <div class="m-t-10">
      <input placeholder="Enter landMark" name="landMark"/>
    </div>
  </div>
  <div style="display: flex; justify-content: end;" class="m-t-10">
    <button type="submit">submit</button>
  </div>
</form>
</div>